version: '3.8'

services:
  terplast-v2:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: terplast-v2
    ports:
      - "3001:3000"
    restart: unless-stopped
    networks:
      - terplast-network

networks:
  terplast-network:
    driver: bridge
